body {
  background-image: url("https://pbs.twimg.com/media/ELF5Ea4XUAAdX_Y?format=jpg&name=large");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: tomeoftheunknownregular, 'sans-serif';
  min-height: 100vh;
}
h1, h2, h3 {
  font-family: tomeoftheunknownregular, 'sans-serif';
  text-align: center;
  filter: drop-shadow(7px 7px 20px black);
}
h1 {
  font-size: 48px;
  text-align: center;
}
h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
h3 {
  font-size: 32px;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
}
.flex-column {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-shrink: 1;
  width: 33%;
}
.player-container {
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
  flex-shrink: 1;
  width: 33%;
}
.player-image {
  width:100%;
}
.text-center {
  text-align: center;
}
.user-button {
  font-size:50px;
  height:90px;
  width: 90px;
}
.player-hit {
  animation: damaged 1s;
  animation-iteration-count: 1;
}
.invisible-btn {
  display:none;
}
.reset-btn {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: tomeoftheunknownregular, 'sans-serif';
  font-size: 24px;
  padding: 5px 15px;
  cursor: pointer;
}


@media only screen and (max-width: 900px) {
  .container {

    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .flex-column {
    order: 1;
    width: 100%;
  }
  .player-container {
    order: 2;
    width: 50%;
  }
  .player-pic {
    max-width: 50px;
  }
  h1 {
    margin-bottom: 0;
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }

}
@keyframes damaged {
  0% { transform: translate(1px, 1px) rotate(0deg);	opacity: 1; filter: grayscale(100%) sepia(100%) hue-rotate(320deg) saturate(4);}
  10% { transform: translate(-1px, -2px) rotate(-1deg);opacity: .5}
  20% { transform: translate(-3px, 0px) rotate(1deg); opacity: .9;}
  30% { transform: translate(3px, 2px) rotate(0deg); opacity: 1;}
  40% { transform: translate(1px, -1px) rotate(1deg);
  opacity: .9;}
  50% { transform: translate(-1px, 2px) rotate(-1deg); opacity: .6;}
  60% { transform: translate(-3px, 1px) rotate(0deg); opacity: .8;}
  70% { transform: translate(3px, 1px) rotate(-1deg); opacity: 1;}
  80% { transform: translate(-1px, -1px) rotate(1deg); opacity: .5;}
  90% { transform: translate(1px, 2px) rotate(0deg); opacity: .9}
  100% { transform: translate(1px, -2px) rotate(-1deg); filter: grayscale(100%) sepia(100%) hue-rotate(320deg) saturate(7);}
}
